@page
@model prayer.Pages.Memberships.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Enrolled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Group)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Membership) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enrolled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-userId="@item.UserId" asp-route-groupId="@item.GroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
