@page
@model prayer.Pages.Prayers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prayer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prayer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prayer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prayer.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prayer.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prayer.CreationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prayer.CreationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prayer.UpdateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prayer.UpdateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prayer.Recurrence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prayer.Recurrence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prayer.RecurrenceValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prayer.RecurrenceValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prayer.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prayer.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prayer.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prayer.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prayer.PrayerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
